# dotfiles, with exceptions:
.*
!.gitignore
!.gitkeep
!.gitattributes

# emacs backup files
*~

# not tracked subdirectories
/workspace/
/logs/
/pkg/
/bin/
/postgres-data

# files
global.env
.env
main-project.code-workspace