APP_DEBUG=true

USERNAME_DB_MYSQL=root
PASSWORD_DB_MYSQL=root
DATABASE_TYPE_MYSQL=mysql
DATABASE_HOST_MYSQL=projects-db-web
DATABASE_PORT_MYSQL=3306
DATABASE_NAME_MYSQL=cool_database
DATABASE_MAX_CONNECTION_LIFETIME_MYSQL=60
DATABASE_MAX_IDLE_CONNECTION_MYSQL=0
DATABASE_MAX_OPEN_CONNECTION_MYSQL=0
DATABASE_CONFIG_MYSQL="charset=utf8mb4&parseTime=True&loc=Local"

USERNAME_DB_POSTGRES=postgres
PASSWORD_DB_POSTGRES=password
DATABASE_TYPE_POSTGRES=postgres
DATABASE_HOST_POSTGRES=projects-db-postgres
DATABASE_PORT_POSTGRES=5432
DATABASE_NAME_POSTGRES=cool_database
DATABASE_CONFIG_POSTGRES=""

REDIS_SESSION_HOST=redis
REDIS_SESSION_NETWORK=tcp
REDIS_SESSION_PASSWORD=root
REDIS_SESSION_PORT=6379
REDIS_SESSION_DB=1
REDIS_SESSION_TIMEOUT=60
REDIS_SESSION_MIN_IDLE=1
REDIS_SESSION_NETWORK=tcp
REDIS_SESSION_LIFETIME_TYPE=hour

REDIS_CACHE_HOST=redis
REDIS_CACHE_PASSWORD=root
REDIS_CACHE_PORT=6379
REDIS_CACHE_DB=2
REDIS_CACHE_LIFETIME=3600

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_RECONNECT=5
RABBIT_MQ_EXCHANGE_MAIN=main_event

SMTP_SERVER=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM_ADDRESS=local@test.co.id
EMAIL_FROM_NAME="localhost"

KAFKA_HOST="projects-kafka"
KAFKA_PORT=9092
KAFKA_VERSION="3.1.0"
KAFKA_SASL_ENABLED="false"
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_DEFAULT_TOPIC="main_event"