# PLEASE READ README.md before adding env here

KONG_PLUGINS=bundled,test_plugin
KONG_PLUGINSERVER_NAMES=test_plugin

# Test Plugin Plugin
KONG_PLUGINSERVER_TEST_PLUGIN_SOCKET=/usr/local/kong/test_plugin.socket
KONG_PLUGINSERVER_TEST_PLUGIN_START_CMD=/usr/local/bin/test_plugin
KONG_PLUGINSERVER_TEST_PLUGIN_QUERY_CMD=/usr/local/bin/test_plugin -dump